.pa-start {
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(33, 33, 166, 0) 0%,
      rgba(0, 26, 102, 0.8) 100%
    ),
    url('/images/spring.jpg') center no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.pa-end {
  height: 400px;
  width: 100%;
  background: linear-gradient(0deg, #0d47a1 10%, white 50%),
    url('/images/end.jpg') center no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 2rem;
  position: relative;
  /*cursor: pointer;*/
}
